/*home*/

/*-------------------------------------------------------*/

.home-auto {}

.home-auto--md {
  margin: 20px auto;
  width: 700px;
}

/*smaller than screen*/

@media screen and (max-width: 700px) {
  .home-auto--sm {
    width: 100%;
  }
}

.home-auto__header {
  align-items: center;
  background-color: $color-black-pure;
  border-bottom: 2px solid $color-downy;
  color: $color-downy;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 300;
  height: 60px;
  padding: 0 20px;
}

.home-auto__panel-block {
  align-items: center;
  color: $color-downy;
  display: flex;
  font-size: $txt-lg;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home-auto__panel-controls {
  background-color: $color-gray-md;
  border: 1px solid $color-black-pure;
  border-left: 0px;
  flex: 1;

  /*padding: 20px;*/
  position: relative;
}

.home-auto__panel-edit-button {
  display: flex;
  justify-content: flex-end;
}

.home-auto__panel-header {
  align-items: center;
  border-top: 1px solid $color-black-pure;
  border-bottom: 1px solid $color-black-pure;
  color: $color-gray-lt;
  display: flex;
  flex: 1;
  font-size: 24px;
  justify-content: center;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.home-auto__panel-item {
  align-items: center;
  border-top: 1px solid $color-black-pure;

  // border-bottom: 1px solid $color-black-pure;
  color: $color-gray-lt;
  display: flex;
  flex: 1;
  font-size: 24px;
  justify-content: space-between;
  padding: 10px 20px;
  text-transform: capitalize;
  transition: 0.3s all;
}

.home-auto__panel-item:hover {
  background-color: $color-downy;
  color: $color-black-pure;
}

/* needs to be below hover for specificity*/

.home-auto__panel-item:active {
  background-color: rgb(100, 215, 215);
  color: $color-black-pure;
}

.home-auto__panel-item--active {
  border-left: 10px solid $color-black-pure;
  border-right: 0px solid;
  background-color: $color-gray-md;
  color: $color-downy;
}

.home-auto__panel-item--edit-btn {
  border-left: 1px solid $color-black-pure;
  flex: 0 0;
  justify-content: flex-end;
}

.home-auto__panel-group {
  display: flex;
  justify-content: space-between;
}

.home-auto__panel-rooms {
  background-color: $color-gray-md;
  border: 1px solid $color-black-pure;
  flex: 1;
  position: relative;
}

.home-auto__panel-rooms--column {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-auto__section {
  display: flex;
  justify-content: space-between;
  min-height: 340px;
}

/*smaller than screen*/

@media screen and (max-width: 700px) {
  .home-auto__section {
    flex-direction: column-reverse;
  }
}

.home-auto__section-group {
  display: block;
}

.home-auto__section-rooms {
  display: block;
  overflow: scroll;
  max-height: 200px;
}

.home-auto__section-rooms--bottom-border {
  border-bottom: 1px solid $color-black-pure;
}
