/*controls*/

/*-------------------------------------------------------*/

.controls {
  border: 1px solid transparent;
  color: $color-downy;
  height: 48px;
  padding: 0 10px;
}

.controls--submit {
  margin-bottom: 20px;
}

.controls-flex {
  display: flex;
  width: 100%;
}

.controls-flex--center-start {
  align-items: center;
  justify-content: flex-start;
}

.controls__group {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.controls__group--tall {
  height: 100%;
}

.controls__group--center-center {
  justify-content: center;
}

.controls__group--space-between {
  justify-content: space-between;
}

.controls__icon {
  align-items: center;
  border: 1px solid $color-downy;
  color: $color-downy;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  transition: 0.3s all linear;
}

.controls__icon--sm {
  border: 1px solid transparent;
  height: 90%;
  width: 48px;
}

.controls__icon--sm-margin {
  margin: 0 0 0 10px;
}

.controls__icon:hover {
  background-color: $color-gray-md;
  border: 1px solid $color-gray-md;

  /*box-shadow: inset 0 0 0 3px $color-downy;*/
  color: $color-downy;
}

.controls__text {
  color: $color-downy;
  font-size: 24px;
}

.controls__text-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90%;
  padding: 0 10px;
}

.controls__text:hover {
  background-color: $color-gray-md;
}
