/*btn*/

.btn {
  align-items: center;
  background-color: $color-black-pure;
  border: 1px solid $color-downy;
  color: $color-downy;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.3s all;
  text-transform: uppercase;
}

.btn:hover {
  background-color: $color-downy-hover;
  border: 1px solid $color-downy-hover;
  color: black;
}

.btn.btn--active {
  background-color: $color-downy;
  color: black;
}

.btn--submit {
  height: 50px;
  margin: 20px auto;
  width: 50%;
}

.btn--temp-control {
  background-color: $color-gray-lt;
  border: 1px solid $color-black-pure;
  border-right: 0px;
  color: $color-black-pure;
  flex: 1;
  min-height: 50px;
  overflow: hidden;
  text-transform: uppercase;
}

.btn--temp-control:hover {
  border: 1px solid $color-black-pure;
  border-right: 0px;
}

.btn--toggle {
  background-color: $color-gray-md;
  border: 1px solid black;
  color: $color-gray-lt;
  flex: 1;
  min-height: 50px;
  overflow: hidden;
  text-transform: uppercase;
}

.btn--toggle:hover {
  border: 1px solid black;

  // color: $color-gray-lt;
  // flex: 1;
  // min-height: 50px;
  // overflow: hidden;
  // text-transform: uppercase;
}

.btn__group {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

.btn__group--column {
  align-items: stretch;
  flex: 1;
  flex-direction: column;
}

.btn__group-title {
  /*color: $color-gray-lt;*/
  color: $color-downy;
  font-size: 18px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  width: 100%;
}

.btn__icon {
  font-size: 20px;
  position: absolute;
}

.btn__icon--minus {
  top: 20%;
}

.btn__icon--plus {
  bottom: 20%;
}

.btn__section {
  display: block;
  margin: 10px 0;
  text-align: center;
  width: 150px;
}
